.daysContainer {
  background-color: rgba(0, 153, 255, 0.836);
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.schedulesContainer {
  background-color: red;
  display: flex;
  justify-content: space-around;
  width: 500px;
}

.schedulesCard {
  background-color: rgb(255, 255, 255);
}

.blank {
  height: 20px;
  width: 20px;
}
