.btnPosition {
  text-align: center;
  margin-top: 20px;
}

.ModalErrorContainer {
  height: 15px;
  text-align: center;
}

.modalClose:hover {
  transform: rotate(-90deg);
  transition-duration: 0.5s;
}

.modalClose {
  transition-duration: 0.5s;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-left: 320px;
}
.modalClose span::before,
.modalClose span::after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 16%;
  margin: -8% 0 0 -42%;
  background: #707070;
  border-radius: 50px;
}
.modalClose span::before {
  transform: rotate(-45deg);
}
.modalClose span::after {
  transform: rotate(45deg);
}

.modalLoading {
  background: -webkit-linear-gradient(0deg, #40e0d0, #a6ff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modalButtonsSpace {
  display: flex;
  justify-content: space-around;
}
